<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name="naver-site-verification" content="9d4ada4a32e188c9c5e42e8a751c4f497033d0c7"/>
  <link rel="shortcut icon" href="/static/assets/images/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/static/assets/js/slick.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/assets/js/slick.min.js"/>
  <link rel="stylesheet" type="text/css" href="/static/assets/js/slick-theme.min.css"/>
  <script type="text/javascript" src="/static/assets/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/polyfill.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/kakao.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8f23556bd57117a96842def422603994"></script>
  <script type="text/javascript" src="/static/assets/js/ua-parser.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/react.production.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/react-copy-to-clipboard.js"></script>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
  <meta charSet="utf-8"/>
  <title>펫시터를 찾고 강아지 돌봄을 예약해보세요 | 펫플래닛</title>
  <meta name="description" content="우리 집 근처의 전문 펫시터를 찾고, 반려견에게 최고의 하루를 선물하세요."/>
  <meta name="keywords" content="펫시터,펫시터가격,강아지맡기는곳,팻시터,강아지위탁,펫시팅,강아지펫시터"/>
  <link rel="canonical" href="https://petplanet.co/petsitters"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="펫시터를 찾고 강아지 돌봄을 예약해보세요 | 펫플래닛"/>
  <meta property="og:description" content="우리 집 근처의 전문 펫시터를 찾고, 반려견에게 최고의 하루를 선물하세요."/>
  <meta property="og:image" content="/static/images/common/og_home.png"/>
  <meta property="og:url" content="https://petplanet.co/petsitters"/>
  <meta name="next-head-count" content="11"/>
  <link rel="preload" href="/_next/static/r96-BCZo64C9PGBuAtZ98/pages/petsitters.js" as="script"/>
  <link rel="preload" href="/_next/static/r96-BCZo64C9PGBuAtZ98/pages/_app.js" as="script"/>
  <link rel="preload" href="/_next/static/runtime/webpack-4b444dab214c6491079c.js" as="script"/>
  <link rel="preload" href="/_next/static/chunks/commons.58cd47c941173809d3d8.js" as="script"/>
  <link rel="preload" href="/_next/static/chunks/styles.d2c14889900d80d21002.js" as="script"/>
  <link rel="preload" href="/_next/static/runtime/main-0ee1c1962f44d8fad7d7.js" as="script"/>
  <link rel="stylesheet" href="/_next/static/css/styles.f53a334d.chunk.css"/>
  <link rel="stylesheet" href="/_next/static/css/static/r96-BCZo64C9PGBuAtZ98/pages/_app.js.548dbefb.chunk.css"/>
</head>
<body>
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDQCPDS" height="0" width="0" style="display:none;visibility:hidden;"></iframe>
</noscript>

<style>
  .dropdown{
    position : relative;
    display : inline-block;
  }

  .dropbtn{
    text-align: left;
    cursor : pointer;
  }
  .dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 200px;
  }

  .dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 20px;
  }

  .dropdown-content a:hover{
    background-color : #ececec
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .active {
    color: orange;
    font-weight: bold;
  }

</style>


<div id="__next">
  <div>
    <div>
      <div class="wrapper">
        <div th:replace="/common/header.html :: fragment-header"></div>
        <div id="service-container">
          <div class="desktop hidden-s">
            <div>
              <div style="width:100%;display:flex;justify-content:left;flex-direction:column;align-items:start; padding-left:135px; padding-bottom:85px;border-bottom:1px solid #E7E9EB;box-shadow:0 2px 20px rgba(0,0,0,0.05)">
                <div style="display:flex;justify-content:left;align-items:start;margin-top:100px;position:relative">
                  <div style="display:flex;flex-direction:column;margin-right:49px">
                    <p style="font-size:15px;font-weight:600;color:#393C47;margin-left:3px">어디에 사시나요?</p>
                    <div style="display:flex;width:475px;height:59px;margin-top:27px;border:1px solid #EBEBEB;border-radius:3px;box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.05);align-items:center;justify-content:space-between;padding-left:17px;padding-right:24px">
                      <div style="width:30px;height:30px;display:flex;align-items:center;justify-content:center;cursor:pointer">
                        <img src="/static/assets/images/common/magnifier_desktop.png" style="width:30px;height:30px"/>
                      </div>
                      <div style="display:flex;flex-grow:1;align-items:center">
                        <div style="display:flex;flex-grow:1;align-items:center;justify-content:space-between">
                          <input th:id="search" type="text" class="addressInput" style="flex-grow:1;height:52px;margin-left:12px;margin-right:12px;font-size:17px;color:#383C48; border:none; max-width:350px" placeholder="동 이름을 검색하세요 (예. 논현동)" value="" th:onkeypress="searchAddress(event)"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div style="display:flex;flex-direction:column;margin-top:70px;width:1024px">
                  <p style="font-size:15px;font-weight:600;color:#393C47;margin-bottom:27px;margin-left:3px">원하시는 조건을 선택하세요</p>
                  <div style="display:flex;justify-content:space-between">
                    <div style="display:flex;justify-content:space-between;width:712px">
                      <button id="noPet"  style=" background-color: #E2E5EAFF; width:150px;height:55px;display:flex;align-items:center;justify-content:center;border:1.5px solid #DFE3EA;border-radius:28px;box-shadow:0px 3px 3px -3px rgba(0, 0, 0, 0.03);cursor:pointer;">
                        <p id="noPetP"style="font-size:15px;font-weight:600;color:#BBC1CC" >반려동물 없음</p>
                      </button>
                      <button id="pickup" style=" background-color: #E2E5EAFF; width:122px;height:55px;display:flex;align-items:center;justify-content:center;border:1.5px solid #DFE3EA;border-radius:28px;box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.03);cursor:pointer">
                        <p id="pickupP" style="font-size:15px;font-weight:600;color:#BBC1CC">픽업 가능</p>
                      </button>
                      <button id="largeDog" style=" background-color: #E2E5EAFF; width:136px;height:55px;display:flex;align-items:center;justify-content:center;border:1.5px solid #DFE3EA;border-radius:28px;box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.03);cursor:pointer">
                        <p id="largeDogP" style="font-size:15px;font-weight:600;color:#BBC1CC">대형견 가능</p>
                      </button>
                      <button id="yard" style="background-color: #E2E5EAFF; width:122px;height:55px;display:flex;align-items:center;justify-content:center;border:1.5px solid #DFE3EA;border-radius:28px;box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.03);cursor:pointer">
                        <p id="yardP" style="font-size:15px;font-weight:600;color:#BBC1CC">마당 있음</p>
                      </button>
                      <button id="oldDog" style="background-color: #E2E5EAFF; width:122px;height:55px;display:flex;align-items:center;justify-content:center;border:1.5px solid #DFE3EA;border-radius:28px;box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.03);cursor:pointer">
                        <p id="oldDogP" style="font-size:15px;font-weight:600;color:#BBC1CC">노견 케어</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div id="page-list-desktop" style="width:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;margin-top:120px">
                  <div style="display:flex;justify-content:space-between;align-items:center;width:1024px;margin-bottom:29px">
                    <p style="font-size:14px;color:#393C47;width:1024px">해당 지역의 펫시터는 평균 만족도
                      <!-- -->
                      99.8
                      <!-- -->
                      %의
                      <!-- -->
                      1035
                      <!-- -->
                      개의 후기를 가지고 있습니다</p>
                    <div id="test" style="display:flex;justify-content:flex-end">
                      <div style="display:flex;justify-content:space-between;width:203px;align-items:center">
                        <p id='regDate' style="font-size:14px;color:#393C47;cursor:pointer" onclick="getListWithOrderBy('regDate')">최신순</p>
                        <p id='popular' style="font-size:14px;color:#AAAAAA;cursor:pointer" onclick="getListWithOrderBy('popular')">후기많은순</p>
                        <p id='price' style="font-size:14px;color:#AAAAAA;cursor:pointer" onclick="getListWithOrderBy('price')">가격순</p>
                        <img src="/static/assets/images/common/filter.png" style="width:15px;height:15px"/>
                      </div>
                    </div>
                  </div>
                  <div id="list"></div>
                      <div class="paging" style="width: 100%; display: inline-flex; align-items: center; margin-top: 80px; justify-content: center">
                        <div id="pages"></div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <aside id="right-sidebar" class="none">
        <footer class="ft">
          <script>document.write(new Date().getFullYear())</script> &copy; Minton theme by <a href="" class="text-dark">Coderthemes</a>
        </footer>
      </aside>
    </div>
  </div>
</div>
<script async="" data-next-page="/petsitters" src="/_next/static/r96-BCZo64C9PGBuAtZ98/pages/petsitters.js"></script>
<script async="" data-next-page="/_app" src="/_next/static/r96-BCZo64C9PGBuAtZ98/pages/_app.js"></script>
<script src="/_next/static/runtime/webpack-4b444dab214c6491079c.js" async=""></script>
<script src="/_next/static/chunks/commons.58cd47c941173809d3d8.js" async=""></script>
<script src="/_next/static/chunks/styles.d2c14889900d80d21002.js" async=""></script>
<script src="/_next/static/runtime/main-0ee1c1962f44d8fad7d7.js" async=""></script>

<script src="/static/assets/js/toy-common.js"></script>
<script src="/static/assets/js/toy-error.js"></script>
<script src="/static/assets/js/toy-pagination.js"></script>

<script type="text/javascript">history.replaceState({}, null, location.pathname)</script>

<script>
  let listPageParam = {page: 0, targetId: 'list'} //회원리스트 페이지 파라미터
  let pageNumber = '';
  let pageNum = 1;
  let orderBy = "regDate";

  let petYn = null;
  let pickupYn = null;
  let largeDogYn = null;
  let yardYn = null;
  let oldDogYn = null;

  let petBtn = false;
  let pickUpBtn = false;
  let largeDogBtn = false;
  let yardBtn = false;
  let oldDogBtn = false;

  let search = null;

  $(() => {
    getList(pageNum);
    setButtonEvent();
  });

  function getList(pageNum) {
    console.log(">>>>>>>>>>>>>>getList_pageNUm"+pageNum);
    console.log(">>>>>>>>>>>>>>orderBy"+orderBy);
    console.log(">>>>>>>>>>>>>>search value"+document.getElementById('search').value);


    toy.apiCall({
      type: 'GET',
      url: 'http://localhost:8079/api/v1/petSit/getPostList',
      data: {
        pageNum: pageNum,
        orderBy: orderBy,
        petYn : petYn,
        pickupYn : pickupYn,
        largeDogYn : largeDogYn,
        yardYn: yardYn,
        oldDogYn: oldDogYn,
        search: document.getElementById('search').value
      },
      success: (result) => {
        setList(result.data)
      },
      successError: (result) => {
        toyError.setAlert(result);
      }
    });
  }

  function setList(data) {
    console.log(">>>>>>>>>>>...."+data.totalCount)
    if(data.totalCount === 0) {
      console.log(">>>>>>>>>>>....조건일치")
      let htmls = "";
      htmls += `<div><p>조건에 맞는 결과가 없습니다.</p></div>`
      $("#list").html(htmls);
    }

    const petsitList = data.list;
    const totalCount = data.totalCount

    let totalPage = Math.ceil(totalCount /10);

    const pagination = new Pagination(data.page, listPageParam.targetId, 5, totalPage, data.startPage, data.endPage);


    //페이징 객체 호출
    const pageObj = pagination.paging();
    listPageParam.next = pageObj.next;
    listPageParam.prev = pageObj.prev;

    //페이징 출력
    $('#pages').html(pageObj.htmls);

    let htmls = "";

    $.each(petsitList, (idx, item) => {
      console.log(">>>>>>>>>>>>>>>>>item"+item.address);

      let petYn ="";
      let largeDogYn ="";
      let oldDogYn ="";
      if(item.pet_yn === 'Y') {
        petYn ="반려동물 있어요";
      } else {
        petYn ="반려동물 없어요";
      }
      if(item.large_dog_yn === 'Y') {
        largeDogYn ="대형견 가능해요";
      } else {
        largeDogYn ="대형견 안돼요";
      }
      if(item.old_dog_yn === 'Y') {
        oldDogYn ="노견케어 가능해요";
      } else {
        oldDogYn ="노견케어 안돼요";
      }

       htmls +=
              `<div style="display:flex;margin-top:55px">
                    <div onclick="location.href='/petsitDetail/${item.petsit_seq}'";  style="width:1028px;height:260px;border:1px solid #EBEBEB;display:flex;border-radius:8px;box-shadow:0px 0px 12px 0px rgba(0, 0, 0, 0.07);position:relative;align-items:center">
                      <div style="width:390px;height:250px;border-radius:5px;margin-left:5px;overflow:hidden;position:relative">
                        <div>
                          <div class="slick-slider slick-initialized" dir="ltr">
                            <div class="slick-list">
                              <div class="slick-track" style="width:1300%;left:-100%">
                                <div data-index="-1" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:7.6923076923076925%"></div>
                                <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1" aria-hidden="false" style="outline:none;width:7.6923076923076925%">
                                  <div>
                                    <a target="_blank" style="width:100%;display:inline-block" tabindex="-1">
                                      <img src="/static/assets/images/dog_main.png" style="width:390px;height:250px;border-radius:3px;object-fit:cover" alt="책임감 있는 펫시팅🐶"/>
                                      <div style="width:390px;height:50px;display:flex;position:absolute;bottom:5px;justify-content:center;background-image:linear-gradient(to top, rgba(51, 51, 51, 0.2), rgba(128, 128, 128, 0));z-index:20"></div>
                                    </a>
                                  </div>
                                </div>
                                <div data-index="1" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:7.6923076923076925%"></div>
                                <div data-index="2" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:7.6923076923076925%"></div>
                                <div data-index="3" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:7.6923076923076925%"></div>
                                <div data-index="4" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:7.6923076923076925%"></div>
                                <div data-index="5" class="slick-slide" tabindex="-1" aria-hidden="true" style="outline:none;width:7.6923076923076925%"></div>
                                <div data-index="6" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:7.6923076923076925%">
                                  <div>
                                    <a href="" target="_blank" style="width:100%;display:inline-block" tabindex="-1">
<!--                                      <img src="https://d1cd60iwvuzqnn.cloudfront.net/resized/page/e67495cc2a534617969773b27c5415e7.JPG" style="width:390px;height:250px;border-radius:3px;object-fit:cover" alt="책임감 있는 펫시팅🐶"/>-->
                                      <div style="width:390px;height:50px;display:flex;position:absolute;bottom:5px;justify-content:center;background-image:linear-gradient(to top, rgba(51, 51, 51, 0.2), rgba(128, 128, 128, 0));z-index:20"></div>
                                    </a>
                                  </div>
                                </div>
                                <div data-index="7" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:7.6923076923076925%"></div>
                                <div data-index="8" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:7.6923076923076925%"></div>
                                <div data-index="9" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:7.6923076923076925%"></div>
                                <div data-index="10" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:7.6923076923076925%"></div>
                                <div data-index="11" tabindex="-1" class="slick-slide slick-cloned" aria-hidden="true" style="width:7.6923076923076925%"></div>
                              </div>
                            </div>
                          </div>
<!--                          <div>-->
<!--                            <img width="100%" height="59px" src="/static/assets/images/page_details/gradient.png" style="object-fit:cover;position:absolute;bottom:0;left:0;right:0"/>-->
<!--                          </div>-->
<!--                          <div style="display:flex;flex-direction:row;justify-content:center;align-items:flex-end;position:absolute;z-index:999;bottom:0;left:0;right:0;height:59px">-->
<!--                            <div style="display:flex;flex-direction:row;align-items:center;justify-content:center;margin-bottom:12px">-->
<!--                              <div style="width:8px;height:8px;border-radius:50%;background-color:white;margin-left:4px;margin-right:4px"></div>-->
<!--                              <div style="width:6px;height:6px;border-radius:50%;background-color:rgba(255, 255, 255, 0.7);margin-left:4px;margin-right:4px"></div>-->
<!--                              <div style="width:6px;height:6px;border-radius:50%;background-color:rgba(255, 255, 255, 0.7);margin-left:4px;margin-right:4px"></div>-->
<!--                              <div style="width:4px;height:4px;border-radius:50%;background-color:rgba(255, 255, 255, 0.7);margin-left:4px;margin-right:4px"></div>-->
<!--                              <div style="width:2px;height:2px;border-radius:50%;background-color:rgba(255, 255, 255, 0.7);margin-left:4px;margin-right:4px"></div>-->
<!--                            </div>-->
<!--                          </div>-->
                          <div style="position:absolute;left:0;top:0;bottom:0;width:50px;display:flex;align-items:center;justify-content:center;z-index:10;cursor:pointer;background-image:linear-gradient(to right, rgba(51, 51, 51, 0.3), rgba(128, 128, 128, 0))">
                            <div style="width:40px;height:40px;z-index:10;display:flex;align-items:center;justify-content:center">
                              <img src="/static/images/common/arrow_white_left.png" style="width:10px;height:20px"/>
                            </div>
                          </div>
                          <div style="position:absolute;right:0;top:0;bottom:0;width:50px;display:flex;align-items:center;justify-content:center;z-index:10;cursor:pointer;background-image:linear-gradient(to left, rgba(51, 51, 51, 0.3), rgba(128, 128, 128, 0))">
                            <div style="width:40px;height:40px;z-index:10;display:flex;align-items:center;justify-content:center">
                              <img src="/static/images/common/arrow_white_right.png" style="width:10px;height:20px"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div style="padding:30px 33px 0 38px;height:100%;display:flex;flex-grow:1;flex-direction:column;justify-content:space-between;align-items:center">
                        <div style="width:100%;border-bottom:1px solid #EBEBEB;padding-bottom:15px">
                          <p style="font-family:Noto Sans KR;font-size:14px;letter-spacing:-0.1px;color:#5E636D">
                            ${item.address}<span style="color:#5E636D">
                          </p>
                          <p style="font-size:20px;font-family:Noto Sans KR;letter-spacing:-0.2px;color:#383C48;margin-top:9.5px">${item.title}</p>
                        </div>
                        <div style="display:flex;justify-content:space-between;width:100%;height:100%;padding-top:18px">
                          <div style="display:flex;flex-direction:column;justify-content:space-between">
                            <p style="color:#383C48;font-size:13px;letter-spacing:-0.3px;max-width:400px">${petYn} · ${largeDogYn} ·  ${oldDogYn}</p>
                            <div style="display:flex;align-items:center;flex-direction:row;margin-bottom:30px">
                              <div style="width:64.63px;display:flex;justify-content:space-between">
                                <div style="display:flex;flex:1;justify-content:space-between">
                                  <img src="/static/assets/images/common/star_1.png" style="width:11px;height:11px"/>
                                  <img src="/static/assets/images/common/star_1.png" style="width:11px;height:11px"/>
                                  <img src="/static/assets/images/common/star_1.png" style="width:11px;height:11px"/>
                                  <img src="/static/assets/images/common/star_1.png" style="width:11px;height:11px"/>
                                  <img src="/static/assets/images/common/star_1.png" style="width:11px;height:11px"/>
                                </div>
                              </div>
                              <p style="font-family:Noto Sans KR;font-size:12px;line-height:18px;color:#5E636D;letter-spacing:-0.2px;margin-left:8px">후기
                                <!-- -->
                                ${item.review_count}
                                <!-- -->
                                개</p>
                            </div>
                          </div>
                          <div style="display:flex;flex-direction:column;justify-content:flex-end;margin-bottom:30px">
                            <div style="display:flex;align-items:center">
                              <p style="font-size:17px;color:#4F525A;letter-spacing:0.5px">₩${item.price_small_day}</p>
                              <div style="width:32px;height:21px;border:1px solid #C5C9D0;border-radius:3px;display:flex;align-items:center;justify-content:center;margin-left:10px">
                                <p style="font-family:Noto Sans KR;font-size:11px;letter-spacing:-0.2px;color:#4F525A">1 박</p>
                              </div>
                            </div>
                            <div style="display:flex;margin-top:10px;align-items:center">
                              <p style="font-size:17px;color:#4F525A;letter-spacing:0.5px">₩${item.price_small}</p>
                              <div style="width:32px;height:21px;border:1px solid #C5C9D0;border-radius:3px;display:flex;align-items:center;justify-content:center;margin-left:10px">
                                <p style="
                                font-family:Noto Sans KR;font-size:11px;letter-spacing:-0.2px;color:#4F525A">하루</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>`
      $("#list").html(htmls);

    });
  }

  //버튼 이벤트 정의
  function setButtonEvent() {

    //페이지 이동
    $(document).on('click', '.page-link', function() {
      let id = $(this).attr('id');
      let page = $(this).text();

      if(id === 'prev') page = listPageParam.prev;
      if(id === 'next') page = listPageParam.next;

      listPageParam.page = page;
      getList(page)

      //클릭 후 최상단으로 이동
      $('html,body').animate({ scrollTop: 0 }, 400);
    });

  }

  //정렬조건 클릭 시 글자 색상 변경
  function getListWithOrderBy(condition){
    console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>orderBy popular"+orderBy)
    let popular = document.getElementById('popular');
    let price = document.getElementById('price');
    let regDate = document.getElementById('regDate');

    orderBy = condition;
    if(condition === 'popular') {
      popular.style.color='#393C47';
      price.style.color='#AAAAAA';
      regDate.style.color='#AAAAAA';
    } else if(condition === 'price') {
      popular.style.color='#AAAAAA';
      price.style.color='#393C47';
      regDate.style.color='#AAAAAA';
    } else {
      popular.style.color='#AAAAAA';
      price.style.color='#AAAAAA';
      regDate.style.color='#393C47';
    }
    getList(1)
  }

  //조건 클릭 시 색상 및 api data 값 변경
  document.getElementById("noPet").onclick = function () {
    let petBtnStyle = document.getElementById('noPet');
    let petBtnPStyle = document.getElementById('noPetP');

     if(petBtn === 'true') {
       petBtn = 'false';
       petYn = null;
       petBtnStyle.style.backgroundColor='#E2E5EAFF';
       petBtnStyle.style.borderColor='#E2E5EAFF';
       petBtnPStyle.style.color='#BBC1CC';
       console.log(">>>>>>>>>>>>petBtn"+petBtn)
     } else {
       petBtn = 'true';
       petYn = 'Y';
       petBtnStyle.style.backgroundColor='white';
       petBtnStyle.style.borderColor='#71A2FF'
       petBtnPStyle.style.color='#71A2FF';
     }
     getList(1)
  }

  document.getElementById("pickup").onclick = function () {
    let pickupBtnStyle = document.getElementById('pickup');
    let pickupPBtnStyle = document.getElementById('pickupP');
    console.log(">>>>>>>>>>>>클릭")
    if(pickUpBtn === 'true') {
      console.log(">>>>>>>>>>>>클릭 true?")
      pickUpBtn = 'false';
      pickupYn = null;
      pickupBtnStyle.style.backgroundColor='#E2E5EAFF';
      pickupBtnStyle.style.borderColor='#E2E5EAFF';
      pickupPBtnStyle.style.color='#BBC1CC';
    } else {
      console.log(">>>>>>>>>>>>클릭 false?")
      pickUpBtn = 'true';
      pickupYn = 'Y';
      pickupBtnStyle.style.backgroundColor='white';
      pickupBtnStyle.style.borderColor='#71A2FF'
      pickupPBtnStyle.style.color='#71A2FF';
    }
    getList(1)
  }

  document.getElementById("largeDog").onclick = function () {
    let largeDogBtnStyle = document.getElementById('largeDog');
    let largeDogPBtnStyle = document.getElementById('largeDogP');

    if(largeDogBtn === 'true') {
      largeDogBtn = 'false';
      largeDogYn = null;
      largeDogBtnStyle.style.backgroundColor='#E2E5EAFF';
      largeDogBtnStyle.style.borderColor='#E2E5EAFF';
      largeDogPBtnStyle.style.color='#BBC1CC';
    } else {
      console.log(">>>>>>>>>>>>클릭 false?")
      largeDogBtn = 'true';
      largeDogYn = 'Y';
      largeDogBtnStyle.style.backgroundColor='white';
      largeDogBtnStyle.style.borderColor='#71A2FF'
      largeDogPBtnStyle.style.color='#71A2FF';
    }
    getList(1)
  }

  document.getElementById("yard").onclick = function () {
    let yardBtnStyle = document.getElementById('yard');
    let yardPBtnStyle = document.getElementById('yardP');
    if(yardBtn === 'true') {
      yardBtn = 'false';
      yardYn = null;
      yardBtnStyle.style.backgroundColor='#E2E5EAFF';
      yardBtnStyle.style.borderColor='#E2E5EAFF';
      yardPBtnStyle.style.color='#BBC1CC';
    } else {
      yardBtn = 'true';
      yardYn = 'Y';
      yardBtnStyle.style.backgroundColor='white';
      yardBtnStyle.style.borderColor='#71A2FF'
      yardPBtnStyle.style.color='#71A2FF';
    }
    getList(1)
  }

  document.getElementById("oldDog").onclick = function () {
    let oldDogBtnStyle = document.getElementById('oldDog');
    let oldDogPBtnStyle = document.getElementById('oldDogP');
    if(oldDogBtn === 'true') {
      oldDogBtn = 'false';
      oldDogYn = null;
      oldDogBtnStyle.style.backgroundColor='#E2E5EAFF';
      oldDogBtnStyle.style.borderColor='#E2E5EAFF';
      oldDogPBtnStyle.style.color='#BBC1CC';
    } else {
      oldDogBtn = 'true';
      oldDogYn = 'Y';
      oldDogBtnStyle.style.backgroundColor='white';
      oldDogBtnStyle.style.borderColor='#71A2FF'
      oldDogPBtnStyle.style.color='#71A2FF';
    }
    getList(1)
  }

  function searchAddress(e) {
    if(e.keyCode == 13){
      getList(1)
    }
  }




</script>


</body>
</html>
