<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Log In 2 | Minton - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="/static/assets/images/favicon.ico">

		<!-- App css -->
		<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-stylesheet" />
		<link href="/static/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />

		<!-- icons -->
		<link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>

    <style>
        .modal-unlock {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal-unlock .bg {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .modal-title {
            border-bottom: 1px solid grey;
        }

        .modal-body {
            position: absolute;
            background-color: #fff;
            width: 400px;
            height: 220px;
            padding: 15px;
        }

        .modal-footer {
            text-align:center;
            margin-bottom: 20px;
        }

        .modal-footer button {
            display: inline-block;
            width: 80px;
            border: 1px solid rgb(113, 162, 255);
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .modal-hidden {
            display: none;
        }
    </style>

    <body class="loading auth-fluid-pages pb-0">

        <div class="auth-fluid">
            <!-- Auth fluid right content -->
            <div class="auth-fluid-right">
                <div class="auth-user-testimonial">
                    <img src="/static/assets/images/logo01.png" alt="" height="42">
                    <h3 class="mb-3 text-white">인증된 펫시터에게 아이를 맡겨보세요!</h3>
                    <p class="lead fw-normal">
                        여행, 출장, 늦은 퇴근에도 걱정마세요!
                    </p>
                    <p class="lead fw-normal">
                        가족같은 펫시터가 내 아이와 함께합니다
                    </p>
                </div>
            </div>
            <!-- end Auth fluid right content -->

            <!--Auth fluid left content -->
            <div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

                        <!-- Logo -->
                        <div class="auth-brand text-center text-lg-start">
                            <div class="auth-logo">
                                    <span class="logo-lg" style="margin-top: 50px">
                                        <img src="/static/assets/images/logo01.png" alt="" height="32">
                                    </span>
                            </div>
                        </div>

                        <!-- title-->
                        <h4 class="mt-0">로그인</h4>
                        <p class="text-muted mb-4">이메일 주소와 패스워드를 입력하세요!</p>

                        <!-- form -->
                        <form >
                            <div class="mb-2">
                                <label for="emailAddress" class="form-label">이메일 주소</label>
                                <input class="form-control" type="email" id="emailAddress" placeholder="이메일 주소">
                            </div>
                            <div class="mb-2">
                                <a href="auth-recoverpw-2.html" class="text-muted float-end"><small>Forgot your password?</small></a>
                                <label for="password" class="form-label">패스워드</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control" placeholder="패스워드">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="g-recaptcha" id="recaptcha" data-sitekey="6LelnLUlAAAAAECPwe7R9JadrtQzcK3K4CWUb9TR"></div>
                            <div class="d-grid text-center" style="margin-top: 15px">
                                <button type="button" class="btn btn-primary" onclick="recaptcha()" >로그인</button>
                            </div>
                            <!-- social-->
                            <div class="text-center mt-4">
                                <h5 class="mt-0 text-muted">아직 펫플래닛 회원이 아니세요?</h5>
                                <p class="text-muted"><a href="/signInUser" class="text-primary fw-medium ms-1">펫플래닛 회원가입</a></p>
                                <p class="text-muted"><a href="/signUpPetsitter" class="text-primary fw-medium ms-1">펫시터 지원</a></p>
                            </div>
                            <div class="text-center mt-4">
                                <h5 class="mt-0 text-muted">비밀번호를 잊어버리셨나요?</h5>
                                <p class="text-muted unlockText"><a href="#" class="text-primary fw-medium ms-1">비밀번호 찾기</a></p>
                            </div>
                        </form>
                        <!-- end form-->

                        <!-- Footer-->
                        <footer class="footer footer-alt">
                            <script>document.write(new Date().getFullYear())</script> &copy; Minton theme by <a href="" class="text-dark">Coderthemes</a>
                        </footer>

                        <!-- 계정 잠금 해제 모달 -->
                        <div id="modal_unlock" class="modal-unlock modal-hidden">
                            <div class="bg"></div>
                            <div class="modal-body" style="height: 220px; padding: 15px">
                                <div class="modal-title">
                                    <h3>비밀번호 찾기</h3>
                                </div>
                                <div>
                                    <div>
                                        <div>
                                            <p>계정 가입 시 사용한 이메일 주소를 입력해 주세요</p>
                                            <p>해당 계정으로 임시 비밀번호를 보내드립니다</p>
                                            <label for="emailInput">
                                                <input type="text" id="emailInput" placeholder="이메일 입력">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="margin-bottom: 15px">
                                        <button type="button" class="modal-close-unlock">취소</button>
                                        <button type="button" onclick="sendUnlock()">발송</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>
            <!-- end auth-fluid-form-box-->
        </div>
        <!-- end auth-fluid-->




        <!-- Vendor js -->
        <script src="/static/assets/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="/static/assets/js/app.min.js"></script>

        <!-- 공통 js -->
        <script src="/static/assets/js/toy-common.js"></script>
        <script src="/static/assets/js/toy-error.js"></script>

        <!-- recaptcha -->
        <script src='https://www.google.com/recaptcha/api.js'></script>

        <script>
            function login() {
                let email = document.getElementById('emailAddress').value
                let password = SHA256(document.getElementById('password').value)

                if(email == null || email === "" || password == null || password === ""){
                    alert('아이디와 비밀번호 모두 입력해 주세요')
                } else {
                    toy.apiCall({
                       type: 'POST',
                       url: 'http://localhost:8079/api/v1/user/login',
                       data: {
                           id: email,
                           pwd: password
                       },
                       success: (result) => {
                           //토큰 저장
                           console.log(">>>>>>>>>>>>>>>>result.data.accessToken: "+result.data.accessToken);
                           console.log(">>>>>>>>>>>>>>>>result.data.refreshToken: "+result.data.refreshToken);

                           toy.setCookie("accessToken", result.data.accessToken);
                           toy.setCookie("refreshToken", result.data.refreshToken);

                           if(result.data.tempYn === "Y") {
                               alert('비밀번호를 변경해 주세요')
                               window.location.href="/myPage";
                           } else {
                               //메인 화면 이동
                               window.location.href="/main";
                           }




                       },
                       successError: (result) => {
                           toyError.setAlert(result);
                       }
                    });
                }
            }

            function recaptcha() {
                console.log("로그인 버튼 클릭");
                console.log(">>>>>>>>>>>..value"+ $("#g-recaptcha-response").val());

                if($("#g-recaptcha-response").val() == null || $("#g-recaptcha-response").val() === ""){
                    alert('자동입력 방지 체크를 해주세요')
                } else {
                    toy.apiCall({
                        type: 'POST',
                        url: 'http://localhost:8079/api/v1/user/validate',
                        data: {
                            recaptcha: $("#g-recaptcha-response").val()
                        },
                        success: (result) => {
                            console.log(">>>>>>>>>>>..result"+ result);
                            console.log(">>>>>>>>>>>..result"+ result.data);
                            checkRecaptcha(result.data);
                        },
                        successError: (result) => {
                            toyError.setAlert(result);
                        }
                    });
                }
            }

            //계정 잠금 해제
            const openUnlock = () => {
                document.querySelector(".modal-unlock").classList.remove("modal-hidden");
            }
            const closeUnlock = () => {
                document.querySelector(".modal-unlock").classList.add("modal-hidden");
            }
            document.querySelector(".modal-close-unlock").addEventListener("click", closeUnlock);
            document.querySelector(".bg").addEventListener("click", closeUnlock);


            //계정해제 버튼 이벤트
            document.querySelector(".unlockText").addEventListener("click", openUnlock);


        function sendUnlock() {
            console.log(">>>>>>>>>>>>>>>>계정 잠금 해제 sendUnlock")
            console.log(">>>>>>>>>>>>>>>>계정 잠금 해제 document.getElementById('emailInput').value"+document.getElementById('emailInput').value)

            if(document.getElementById('emailInput').value == null || document.getElementById('emailInput').value === ""){
                alert('이메일을 입력 후 확인 버튼을 눌러주세요')
            } else {
                toy.apiCall({
                    type: 'GET',
                    url: 'http://localhost:8079/api/v1/user/sendEmail',
                    data: {
                        email: document.getElementById('emailInput').value
                    },
                    success: (result) => {
                        alert('메일이 성공적으로 발송 되었습니다. 메일을 확인해 주세요')
                        document.getElementById('emailInput').value="";
                        window.location.href="/";
                    },
                    successError: (result) => {
                        toyError.setAlert(result);
                        document.getElementById('emailInput').value="";
                    }
                });
            }

        }


        function checkRecaptcha(data) {
            console.log("data>>>>>>>>>>."+data.recaptcha);
            if(data.recaptcha === "false") {
                alert("자동 가입 방지 봇을 확인한 뒤 진행해 주세요")
            } else {
                login();
            }
        }

        </script>

    </body>
</html>