<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=AW-802163829&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-W1B7E2Q96P&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PF7DJTT"></script><head>
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
            {'gtm.start': new Date().getTime(),event:'gtm.js'}
    );var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PF7DJTT');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type">
  <meta name="csrf-name" content="yeogi_token">

  <meta name="description" content="여기어때 회원 가입 | 전국 호텔, 펜션, 모텔부터 해외 호텔, 항공권 까지 실시간 최저가로 예약 하세요.">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="apple-touch-icon" href="//image.goodchoice.kr/images/web_v3/h1_logo_mo.png">
  <link rel="apple-touch-icon" sizes="76x76" href="//image.goodchoice.kr/images/web_v3/icon_76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="//image.goodchoice.kr/images/web_v3/icon_120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="//image.goodchoice.kr/images/web_v3/icon_152.png">

  <meta name="apple-mobile-web-app-title" content="회원 가입 | 여기어때">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no,address=no,email=no">

  <meta property="og:type" content="website">
  <meta property="og:title" content="회원 가입 | 여기어때">
  <meta property="og:description" content="여기어때 회원 가입 | 전국 호텔, 펜션, 모텔부터 해외 호텔, 항공권 까지 실시간 최저가로 예약 하세요.">
  <meta property="og:image" content="//image.goodchoice.kr/images/web_v3/h1_logo_mo_share.png">
  <meta property="og:url" content="https://www.goodchoice.kr/user/join">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="회원 가입 | 여기어때">
  <meta name="twitter:description" content="여기어때 회원 가입 | 전국 호텔, 펜션, 모텔부터 해외 호텔, 항공권 까지 실시간 최저가로 예약 하세요.">
  <meta name="twitter:image" content="//image.goodchoice.kr/images/web_v3/h1_logo_mo_share.png">
  <meta name="twitter:domain" content="https://www.goodchoice.kr/user/join">

  <meta property="al:ios:url" content="https://itunes.apple.com/kr/app/id884043462?mt=8">
  <meta property="al:ios:app_store_id" content="884043462">
  <meta property="al:ios:app_name" content="여행할때 여기어때">
  <meta property="al:android:url" content="https://play.google.com/store/apps/details?id=kr.goodchoice.abouthere">
  <meta property="al:android:app_name" content="여기어때">
  <meta property="al:android:package" content="kr.goodchoice.abouthere">
  <meta property="al:web:url" content="https://www.goodchoice.kr">

  <meta name="naver-site-verification" content="27e1bd094d2f12af942addbf4afdb3f479ad0273">

  <link rel="shortcut icon" href="//image.goodchoice.kr/images/web_v3/favicon_170822.ico" type="image/x-icon">
  <link rel="stylesheet preload" href="https://static.goodchoice.kr/fonts/css/font.css" as="style" type="text/css" crossorigin="">

  <!-- CSS -->
  <title>회원 가입</title>
  <link rel="stylesheet" href="https://www.goodchoice.kr/css/common.css?rand=1678944379">
  <link rel="canonical" href="https://www.goodchoice.kr/user/join">

<!--  <script type="text/javascript" src="/js/library/jquery-1.12.4.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


  <script>
    var _BASE_URL = 'https://www.goodchoice.kr/';
    var _MOBILE = 'W';
    var _KAKAOTALK_APP_KEY = 'f6ffb505bb11d7cc3584d443ce35f704';
    var _FACEBOOK_APP_ID = '607467975974643';
  </script>
  <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d    =d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
  <meta http-equiv="origin-trial" content="Aztnbi8n1mx+fiNBvCifn6XCZv+TIzPcAuIDgq7i8sAG5PMj9ZN7lufengcGK3nHLCS5JfXzwgDSY+MDBQHuWAoAAACKeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZWFkc2VydmljZXMuY29tOjQ0MyIsImZlYXR1cmUiOiJQcml2YWN5U2FuZGJveEFkc0FQSXMiLCJleHBpcnkiOjE2ODA2NTI3OTksImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="A751Xsk4ZW3DVQ8WZng2Dk5s3YzAyqncTzgv+VaE6wavgTY0QHkDvUTET1o7HanhuJO8lgv1Vvc88Ij78W1FIAAAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1RoaXJkUGFydHkiOnRydWV9"><meta http-equiv="origin-trial" content="A751Xsk4ZW3DVQ8WZng2Dk5s3YzAyqncTzgv+VaE6wavgTY0QHkDvUTET1o7HanhuJO8lgv1Vvc88Ij78W1FIAAAAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjgwNjUyNzk5LCJpc1RoaXJkUGFydHkiOnRydWV9"></head>
<body class="mobile">
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PF7DJTT" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Wrap -->
<div class="wrap show">

  <!-- Header -->
  <header>

    <section>
      <h1><a class="" href="https://www.goodchoice.kr/" title="여기어때">여기어때</a></h1>
      <button type="button" class="btn_menu nav_open ">메뉴</button>
      <button type="button" class="btn_srch srch_open " style="right: 396px;">검색</button>
      <ul class="gnb_pc">
        <li><a href="https://www.goodchoice.kr/product/srp">내주변</a></li>
        <li><a href="https://www.goodchoice.kr/user/login?returnUrl=my%2FreserveList">예약내역</a></li>
        <li class="over">
          <button type="button"><span>더보기</span></button>
          <ul class="list_03">
            <li><a href="https://www.goodchoice.kr/more/notice">공지사항</a></li>
            <li><a href="https://www.goodchoice.kr/more/event">이벤트</a></li>
            <!-- <li><a href="https://www.goodchoice.kr/more/project">혁신 프로젝트</a></li> -->
            <li><a href="https://www.goodchoice.kr/more/faq">자주 묻는 질문</a></li>
            <li><a href="https://www.goodchoice.kr/more/inquiry">1:1 문의</a></li>
            <li><a href="https://www.goodchoice.kr/more/terms">약관 및 정책</a></li>
          </ul>
        </li>
        <li><a href="https://www.goodchoice.kr/user/login"><span>로그인</span></a></li>
      </ul>
    </section>
  </header>

  <!-- Custom Style -->
  <style type="text/css">
    .validate_msg_label{
      margin-top:20px;
      display:inline-block;
      font-size: 13px;
      color:red;
    }
    .inp_type_2{
      padding: 0 10px;
    }
  </style>

  <div class="layer_fix pop_login pop_mem_reserve fix_disable">
    <section>
      <form id="joinForm" autocomplete="off" novalidate="novalidate">
        <div class="fix_title">
          <img src="/static/assets/images/logo01.png" alt="" height="26">
        </div>

        <div class="join" style="margin-top: 5px">
          <strong class="sub_title">회원가입</strong>
          <b>이메일 아이디</b>
          <div class="inp_type_2 form-errors" style="margin-bottom: 0px"><!-- focus / err -->
            <input type="email" name="uid" id="gcuseremail" placeholder="이메일 주소를 입력해주세요.">
            <label id="gcuseremail_msg" class="validate_msg_label"></label>
          </div>

          <b>비밀번호</b>
          <div class="inp_type_2 form-errors form-password-rule" style="margin-bottom: 5px">
            <input type="password" name="upw" placeholder="비밀번호를 입력해주세요." id="new_pw" aria-autocomplete="list">
            <label id="new_pw_msg" class="validate_msg_label" style="color: red;"></label>
          </div>

          <b>이름</b>
          <div class="inp_type_2 form-errors btn-add" style="margin-bottom: 5px">
            <input type="text" id="name" name="unick" required="" class="required valid" data-msg-required="이름을 입력하세요." data-rule-minlength="2" data-rule-maxlength="14" data-rule-spacechar="true" data-rule-specialchar="true" aria-invalid="false">
            <label id="new_name" class="error help-block default_label_txt icon-ic_downwards_arrow" for="name" style="display: inline;"></label>
          </div>

          <b>전화번호</b>
          <div class="inp_type_2 form-errors btn-add" style="margin-bottom: 5px">
            <input type="text" id="phone" name="unick" required="" class="required valid" data-msg-required="-는 제외하고 입력" data-rule-minlength="2" data-rule-maxlength="14" data-rule-spacechar="true" data-rule-specialchar="true" aria-invalid="false">
            <label id="new_phone" class="error help-block default_label_txt icon-ic_downwards_arrow" for="phone" style="display: inline;"></label>
          </div>

          <b>주소</b>
          <input type="text" id="sample6_postcode" placeholder="우편번호" style="height: 40px; border-radius: 5px; border-color: #adb5bd; margin-bottom: 5px;">
          <input type="button" id="zipCode"onclick="sample6_execDaumPostcode()" value="우편번호 찾기" ><br>
          <input type="text" id="sample6_address" placeholder="주소" style="height: 40px; border-radius: 5px; border-color: #adb5bd; margin-bottom: 5px;"><br>
          <input type="text" id="sample6_detailAddress" placeholder="상세주소" style="height: 40px; border-radius: 5px; border-color: #adb5bd; margin-bottom: 5px;">
          <input type="text" id="sample6_extraAddress" placeholder="참고항목" style="height: 40px; border-radius: 5px; border-color: #adb5bd; margin-bottom: 10px;">

          <div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
          </div>

          <button type="button" id="joinBtn" style="background-color: rgb(113, 167, 255); border: none; height: 55px; width: 340px; margin-bottom: 0px; border-radius: 5px; font-size: 18px; font-weight: bold" disabled="disabled" th:onclick="singUp()">가입하기</button>
        </div>
      </form>
    </section>
  </div>


  <style>
    /* layer_unfix 존재시 footer 숨김 */
    .mobile_appdown,
    header{display:none !important}
  </style>

  <!-- Footer -->
  <footer>
    <script>document.write(new Date().getFullYear())</script> &copy; Minton theme by <a href="" class="text-dark">Coderthemes</a>
  </footer>

  <!-- 모든 칸 입력하면 가입하기 버튼 활성화 -->
  <script>
    const idInput = document.getElementById('gcuseremail');
    const pwInput = document.getElementById('new_pw');
    const nameInput = document.getElementById('name');
    const phoneInput = document.getElementById('phone');
    const addrInput1 = document.getElementById('sample6_postcode');
    const addrInput2 = document.getElementById('sample6_address');
    const addrInput3 = document.getElementById('sample6_detailAddress');
    const joinButton = document.getElementById('joinBtn');

    idInput.addEventListener('keyup', activeEvent);
    pwInput.addEventListener('keyup', activeEvent);
    nameInput.addEventListener('keyup', activeEvent);
    phoneInput.addEventListener('keyup', activeEvent);
    addrInput1.addEventListener('keyup', activeEvent);
    addrInput2.addEventListener('keyup', activeEvent);
    addrInput3.addEventListener('keyup', activeEvent);

    function activeEvent() {
      switch(!(idInput.value && pwInput.value && nameInput.value && phoneInput.value && addrInput1.value && addrInput2.value && addrInput3.value)){
        case true : joinButton.disabled = true; break;
        case false : joinButton.disabled = false; break;
      }
    }

  </script>

</div>
<!-- //Wrap -->

<!-- Page Script -->
<script type="text/javascript" src="https://www.goodchoice.kr/js/service/validate.js?rand=1678944379"></script>
<script type="text/javascript" src="https://www.goodchoice.kr/js/service/join.js?rand=1678944379"></script>
<script type="text/javascript" src="https://www.goodchoice.kr/js/service/phone-verification.js?rand=1678944379"></script>
<script type="text/javascript" src="https://www.goodchoice.kr/js/service/user-validate.js?rand=1678944379"></script>

<!-- 카카오 주소 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  function sample6_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
        var addr = ''; // 주소 변수
        var extraAddr = ''; // 참고항목 변수

        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
          addr = data.roadAddress;
        } else { // 사용자가 지번 주소를 선택했을 경우(J)
          addr = data.jibunAddress;
        }

        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
        if(data.userSelectedType === 'R'){
          // 법정동명이 있을 경우 추가한다. (법정리는 제외)
          // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
          if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
            extraAddr += data.bname;
          }
          // 건물명이 있고, 공동주택일 경우 추가한다.
          if(data.buildingName !== '' && data.apartment === 'Y'){
            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
          }
          // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if(extraAddr !== ''){
            extraAddr = ' (' + extraAddr + ')';
          }
          // 조합된 참고항목을 해당 필드에 넣는다.
          document.getElementById("sample6_extraAddress").value = extraAddr;

        } else {
          document.getElementById("sample6_extraAddress").value = '';
        }

        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('sample6_postcode').value = data.zonecode;
        document.getElementById("sample6_address").value = addr;
        // 커서를 상세주소 필드로 이동한다.
        document.getElementById("sample6_detailAddress").focus();
      }
    }).open();
  }
</script>


<script src="/static/assets/js/toy-common.js"></script>
<script src="/static/assets/js/toy-error.js"></script>

<script>

  function singUp() {

    let joinForm = document.getElementById('joinForm')
    let userData = Array.from(joinForm.elements);
    let joinFormData = {};

    //모든 항목 입력해야만 버튼 활성화 되므로 불필요
    // for(let tag of userData) {
    //   if(tag.name ==="INPUT" && tag.value === '') {
    //     alert('모든 값을 입력해 주세요');
    //     return tag.focus()
    //   } else if(tag.tagName === 'INPUT') joinFormData[tag.id] = tag.value;
    // }

    for(let tag of userData) {
      joinFormData[tag.id] = tag.value;
    }

    console.log(">>>>>>>>>>>>>>>>>>>>>>>>joinFormData.gcuseremail:"+joinFormData.gcuseremail);
    console.log(">>>>>>>>>>>>>>>>>>>>>>>>joinFormData.new_pw:"+joinFormData.new_pw);
    console.log(">>>>>>>>>>>>>>>>>>>>>>>>joinFormData.name:"+joinFormData.name);
    console.log(">>>>>>>>>>>>>>>>>>>>>>>>joinFormData.phone:"+joinFormData.phone);
    console.log(">>>>>>>>>>>>>>>>>>>>>>>>joinFormData.sample6_postcode:"+joinFormData.sample6_postcode);
    console.log(">>>>>>>>>>>>>>>>>>>>>>>>joinFormData.sample6_address:"+joinFormData.sample6_address);
    console.log(">>>>>>>>>>>>>>>>>>>>>>>>joinFormData.sample6_detailAddress:"+joinFormData.sample6_detailAddress);

    console.log(">>>>>>>>>>>>>>>>>>>>>>>>SHA256(joinFormData.new_pw):"+SHA256(joinFormData.new_pw));

    toy.apiCall({
      type: 'POST',
      url: 'http://localhost:8079/api/v1/user/signUp',
      data: {
        authority : "N", //일반회원
        email : joinFormData.gcuseremail ,
        password : SHA256(joinFormData.new_pw),
        name : joinFormData.name,
        phone : joinFormData.phone,
        zipCode : joinFormData.sample6_postcode,
        address : joinFormData.sample6_address,
        addressDetail : joinFormData.sample6_detailAddress
      },
      success: (result) => {
        alert('회원 가입이 완료되었습니다.\n로그인 페이지로 이동합니다.')
        window.location.href="/";
      },
      successError: (result) => {
        toyError.setAlert(result);
      }
    });
  }

</script>

